<form name="netSalaryForm" ng-submit="netSalaryForm.$valid && calculate()" novalidate>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Informe seu salário bruto:</span>
    <div class="errors">
      <small ng-show="netSalaryForm.grossSalary.$error.required">Campo obrigatório</small>
      <small ng-show="netSalaryForm.grossSalary.$error.number">Informe um número válido</small>
    </div>
    <input type="number" ng-pattern="/[0-9,.]+/"
                         name="grossSalary"
                         ng-model="form.grossSalary"
                         placeholder="Exemplo: 4550.68"
                         required>
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Número de dependentes:</span>
    <div class="errors" ng-show="netSalaryForm.$dirty">
      <small ng-show="netSalaryForm.dependents.$error.number">Informe um número válido</small>
    </div>
    <input type="number" name="dependents"
                         ng-focus="scrollDown()"
                         placeholder="Exemplo: 1"
                         ng-model="form.dependents">
  </label>

  <div class="padding">
    <button class="button button-block button-positive">Calcular</button>
  </div>
</form>

<p class="message">O cálculo será feito de acordo com os valores fornecidos pelo governo para o ano de 2015</p>
