<form name="netSalaryForm" ng-submit="calculate()" >
  <label class="item item-input item-stacked-label">
    <span class="input-label">Informe seu salário bruto:</span>
    <input type="number" step="0.01"
                         name="grossSalary"
                         ng-model="form.grossSalary"
                         placeholder="Exemplo: 4550.68" required>
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Número de dependentes:</span>
    <div class="range range-positive">
      <span>{{ form.dependents }}</span>
      <input type="range" name="dependents" ng-model="form.dependents" min="0" max="10">
    </div>
  </label>

  <div class="padding">
    <button class="button button-block button-positive">Calcular</button>
  </div>
</form>

<p class="message">O cálculo será feito de acordo com os valores fornecidos pelo governo para o ano de 2015</p>
