<ion-view view-title="Calcular salário líquido">
  <ion-content class="padding">
    <form>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Salário bruto</span>
          <input type="text" placeholder="Informe seu salário bruto (R$)">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Número de dependentes</span>
          <input type="text" placeholder="Número de dependentes">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive">Calcular</button>
        <button type="reset" class="button button-block button-stable">Limpar campos</button>
      </div>
    </form>
  </ion-content>
</ion-view>
